.good_morning {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  height: 10rem;
  width: 85%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.51);
  align-items: center;
  background-image: linear-gradient(to right, #f3b6b69c, #7e7f9036);
}

.goodimg {
  width: 20%;
  height: 10rem;
}

.firstdiv {
  width: 45%;
}

@media only screen and (max-width: 1200px) {
  .firstdiv {
    width: 55%;
  }
  .good_morning {
    width: 98%;
  }
  .goodimg {
    width: 19%;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 600px) {
  .firstdiv {
    width: 70%;
  }
  .goodimg {
    width: 35%;
    height: 10rem;
  }
}
@media only screen and (max-width: 430px) {
  .firstdiv {
    width: 70%;
  }
  .goodimg {
    width: 20%;
    height: 7rem;
  }
  .firstdiv h2 {
    font-size: 16px;
  }
  .firstdiv p {
    font-size: 12px;
  }
  .good_morning {
    height: 7rem;
  }
}
