#MainProgress {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.Inside_progress_img {
  width: 60%;
}

.waterdiv {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 2rem;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(133, 237, 255, 0.603)
  );
  -webkit-box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.51);
}

@media only screen and (max-width: 1200px) {
  #MainProgress {
    gap: 1.5rem;
  }
  .waterdiv {
    width: 50%;
    gap: 1rem;
    padding: 10px;
  }
}

@media only screen and (max-width: 680px) {
  .waterdiv {
    gap: 1rem;
    padding: 10px;
    margin: auto;
    margin-top: 1rem;
    width: 80%;
  }
  #MainProgress {
    display: block;
    margin: auto;
    margin-top: 3rem;
  }
  img {
    width: 2rem;
  }
}

@media only screen and (max-width: 430px) {
  .waterdiv {
    width: 95%;
  }
}
