.Rightsidediv {
  width: 80%;
  text-align: center;
  background-color: rgb(72, 77, 218);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  margin: 3rem;
}

.detailsbox {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  border-radius: 10px;
  background-color: hsl(238deg 30% 50%);
  margin-top: 1rem;
  padding: 5px;
  height: 6rem;
}

.detailsbox img {
  width: 15%;
}

.nameimg h3 {
  margin-top: 1rem;
}

/* Media Queries for Dashboard page  */

@media only screen and (max-width: 1200px) {
  .Rightsidediv {
    width: 90%;
    margin: 1rem;
  }

  .detailsbox img {
    width: 20%;
  }
}

@media only screen and (max-width: 1024px) {
  .Rightsidediv {
    width: 95%;
  }
  .progresschart {
    width: 96%;
    margin: auto;
  }
}

@media only screen and (max-width: 420px) {
  .Rightsidediv {
    width: 100%;
    margin: auto;
  }
}
