/* *********************************  TOP BAR STYLE PART  ****************************************/

.MainDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
  gap: 1rem;
  background-color: rgba(255, 166, 134, 0.874);
  position: sticky;
  z-index: 100;
  top: 0;
}

.IconsDiv {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.Icons {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(74, 70, 70);
}

.SearchDiv input {
  width: 100%;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  padding-left: 10px;
}

.Hideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Hideshowicon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* **********************   SIDEBAR STYLE PART  ************************* */
.container {
  display: flex;
  gap: 2rem;
  background-color: rgba(196, 235, 251, 0.29);
}
main {
  width: 100%;
  padding: 20px;
}

.mainIcon {
  color: white;
  font-size: 2rem;
}

.sidebar {
  background: rgba(255, 166, 134, 0.874);
  color: #fff;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
  position: sticky;
  top: 0;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  justify-content: center;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  text-decoration: none;
  list-style: none;
  align-items: center;
  transition: all 0.5s;
}
.link:hover {
  background: rgba(253, 147, 108, 0.874);
  color: #000;
  transition: all 0.5s;
}
.active {
  background: rgba(253, 147, 108, 0.874);
  color: #000;
}
.icon,
.link_text {
  font-size: 15px;
}

/**************************************** FRONT PAGE STYLE  *****************************************/

.maindiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.commondiv {
  border: 2px solid;
  height: 8rem;
  border-radius: 1rem;
  text-align: center;
}

.patientDetails {
  margin-top: 5rem;
}
.patientDetails h1 {
  text-align: center;
}

.patientBox {
  border: 2px solid red;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.patientBox p {
  border: 1px solid;
  margin-top: 2rem;
}

/* ******************************************************** */

@media only screen and (max-width: 800px) {
  .maindiv {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 550px) {
  .maindiv {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 450px) {
  .hidesidebar {
    display: none;
  }
  .showsidebar {
    display: block;
  }
  .Icons {
    font-size: 1.3rem;
  }
  .IconsDiv {
    gap: 15px;
    border: 1px solid;
  }
  .MainDiv {
    border: 1px solid;
  }
}
